.main-wrapper {
    display: flex;

    @media (max-width: 1199px) {
        display: block;
    }

    .up-btn {
        position: fixed;
        bottom: 35px;
        right: 15px;
        border: none;
        background-color: #619e85;
        color: white;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        cursor: pointer;
        box-shadow: 0 0 2px 0 black;
        transition: 0.25s;
        display: none;

        &:hover {
            box-shadow: 0 0 5px 0 black;
        }
    }
}

.dashboard-content {
    width: 75%;
    padding: 3rem 4rem;
    min-height: 100vh;

    @media (max-width: 1199px) {
        width: auto;
    }

    @media (max-width: 575px) {
        padding: 3rem 0;
    }

    .subscription-controls {
        display: none;

        @media (max-width: 1199px) {
            display: block;
        }
    }
}
