.main-wrapper {
    display: flex;
}

.side-menu {
    width: 17%;
    background-color: #619e85;
    padding: 0 2rem;
    color: white;

    h2,
    li {
        cursor: pointer;

        &:hover {
            text-shadow: 0 0 2px white;
        }
    }

    ul {
        padding-left: 15px;
    }

    li {
        list-style: none;
        font-size: 18px;
        margin-bottom: 14px;
    }

    .menu-options {
        position: sticky;
        top: 35px;
    }
}

.dashboard-content {
    width: 75%;
    padding: 0rem 4rem;
    min-height: 100vh;

    .user-card {
        // box-shadow: 0 0 2px 0 #619e85;
        margin-bottom: 4rem;
        display: flex;

        .title {
            margin-bottom: 0.5rem;

            h2 {
                margin: 0;
            }

            .status {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                margin-left: 10px;
                margin-top: 15px;

                &.offline {
                    background-color: darkgray;
                }

                &.online {
                    background-color: green;
                }
            }

            p {
                font-style: italic;
                color: gray;
                margin: 0;
            }

            .statusText {
                margin-top: 7px;
                margin-left: 5px;

                &.offText {
                    color: darkgray;
                }
                &.onText {
                    color: green;
                }
            }
        }

        button {
            border: none;
            padding: 10px 20px;
            font-size: 14px;
            background-color: #619e85;
            color: white;
            border-radius: 25px;
            cursor: pointer;
            transition: 0.25s;

            &:hover {
                box-shadow: 0 0 5px 1px #619e85;
            }
        }

        .divider {
            height: 2px;
            background-image: linear-gradient(
                901deg,
                transparent,
                #619e85,
                transparent
            );
            margin-bottom: 1em;
        }

        .user-details,
        .user-subscription-details {
            padding: 1rem;
            width: 50%;
        }

        .user-details {
            background-color: rgba(0, 0, 0, 0.05);
        }

        .user-subscription-details {
            background-color: #619e85;
            color: white;
            display: flex;
            align-items: center;

            &.no-subscription {
                background-color: lightcoral;
            }
        }
    }
}
